@charset "UTF-8";
/*VERSÃO MOBILE FIRST*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
}
main{
    background-color: rgba(255, 255, 255, 0.377);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 2em;
}
img{
    display: block;
    margin: auto;
}
img#pc{display: none;}
img#tv{display: none;}
img#phone{display: none;}
img#impre{display: none;}
img#tablet{display: none;}